@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

input,
textarea,
select {
  border: none;
  outline: none;
}

#root {
  --main-color: #da002b;
  --text-color: #111;
}

#app {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
